<p id="notice"><%= notice %></p>

<p>
  <strong>Cargo membro conselho fiscal:</strong>
  <%= @membro_conselho_fiscal.cargo_membro_conselho_fiscal %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @membro_conselho_fiscal.aluno %>
</p>

<%= link_to 'Edit', edit_membro_conselho_fiscal_path(@membro_conselho_fiscal) %> |
<%= link_to 'Back', membro_conselho_fiscais_path %>
