<div class="box-info">
	<h2> Colégios 
		<% if policy(:colegio).new? %>
			<%= link_to icon('plus', 'Novo colégio'), new_colegio_path, class: 'btn btn-info btn-xs pull-right' %>
		<% end %>
	</h2>

	<table class="table table-responsive">
	  <thead>
	    <tr>
	      <th>Nome</th>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @colegios.each do |colegio| %>
	      <tr>
	        <td><%= colegio.nome %></td>
	        <td>
				<div class="pull-right">
					<% if policy(:colegio).show? %>
						<%= link_to 'Exibir', colegio, :class => 'btn btn-xs btn-info', :style => 'color: #fff' %>
					<% end %>
			  		<% if policy(:colegio).edit? %>
			  			<%= link_to 'Editar', edit_colegio_path(colegio), class: 'btn btn-xs btn-default'  %>
		  			<% end %>
			  		<% if policy(:colegio).destroy? %>
						<%= link_to 'Remover', colegio, method: :delete, data: { confirm: 'Remover colégio?' }, class: 'btn btn-xs btn-danger' %>
					<% end %> 
				</div>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>