<h1>Listing cargo_membro_chapas</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cargo_membro_chapas.each do |cargo_membro_chapa| %>
      <tr>
        <td><%= cargo_membro_chapa.descricao %></td>
        <td><%= link_to 'Show', cargo_membro_chapa %></td>
        <td><%= link_to 'Edit', edit_cargo_membro_chapa_path(cargo_membro_chapa) %></td>
        <td><%= link_to 'Destroy', cargo_membro_chapa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cargo membro chapa', new_cargo_membro_chapa_path %>
